{% extends 'navbar.html' %}
{% load static %}
{% block title%}
    House Price prediction
{% endblock title%}

{% block cssfiles %}
<link rel="stylesheet" href={% static 'css/t1.css' %}>
{% endblock cssfiles %}

{% block content%}
<span class="error">warning: please check dataset for filling appropriate values </span></center><br>

  <form  method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="dependents">Area:</label>
      <input type="number" id="dependents" name="area" required>
    </div>

    <div class="form-group">
      <label for="married">BHK:</label>
      <select id="married" name="bhk" required>
        <option value="">Select BHK</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="married">Bathroom:</label>
      <select id="married" name="bathroom" required>
        <option value="">Select Bathroom</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div class="form-group">
      <label for="education">Furnished :</label>
      <select id="education" name="furnished" required>
        <option value="">Select Furnished</option>
        <option value="1">Furnished</option>
        <option value="0">Semi-Furnished</option>
        <option value="2">Unfurnished</option>
      </select>
    </div>

    <div class="form-group">
      <label for="education">Locality: </label>
      <select id="education" name="locality" required>
        <option value="">Select Locality</option>
        <option value="0">Rohini Sector</option>
        <option value="1">Dwarka Sector</option>
        <option value="2">Shahdara</option>
        <option value="3">Vasant Kunj</option>
        <option value="4">Paschim Vihar</option>
        <option value="5">Alaknanda</option>
        <option value="6">Punjabi Bagh</option>
        <option value="7">Kalkaji</option>
        <option value="8">Lajpat Nagar</option>
        <option value="9">Laxmi Naga</option>
        <option value="10">Patel Nagar</option>
        <option value="11">Other</option>
      </select>
    </div>

   <input type="submit" value="Submit">
  </form>



{% endblock content%}
